.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, 0.75);
}

.login-box {
    width: 100%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.5);
}

.login-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.login-button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    background: linear-gradient(to right, #fbfbfb, #737373);
    color: #000000;
    transition: 0.3s;
    box-shadow: 0 1px 10px rgb(255, 255, 255);
}

.login-button:hover:not(:disabled) {
    background: linear-gradient(to right, rgb(0, 0, 0), #272727);
    color: #ffffff;
}

.login-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.login-error {
    color: red;
    text-align: center;
    margin-top: 10px;
}